<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- TITLE -->
<title>Reset Password</title>

<!-- STYLE SHEET -->
<link rel="stylesheet" href="{% static 'css/forget_password.css' %}">

<!-- SWEET ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <main>
        <div class="left-side">
            <!-- <img src="{% static 'images/login.jpg' %}" alt=""> -->
        </div>

        <div class="right-side">
            <div class="or">Create new password</div>

            <form action="#" method="POST">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required />

                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required />

                <button type="submit" class="reset-btn">Reset Password</button>
            </form>
        </div>

    </main>
</body>

<script>
    {% if messages %}
         {% for message in messages %}
             Swal.fire({
                 icon: "{{ message.tags }}",
                 title: "{{ message }}",
                 showConfirmButton: false,
                 timer: 1500
             }).then((result) => {
                 if ("{{ message.tags }}" == "success") {
                     // Redirect to the login page after confirmation
                     location.href = '/login';
                 }
             });
         {% endfor %}
     {% endif %}  
 </script>
</html>